{% extends '::base.html.twig' %}

{% block aside_breadcrumb %}
    {{ knp_menu_render('AppBundle:BreadcrumbBuilder:tipoCuentasContablesMenu', {'allow_safe_labels': true} ) }}    
{% endblock %}
{% block aside_left %}
    {{ include('AppBundle:Contabilidad:submenu/sm_tipocuentacontable_list.html.twig') }}
{% endblock %}
{% block body_top %}
{#    {{ include('AppBundle:Expediente:cabecera.html.twig') }}#}
{#    {{ include('AppBundle:Expediente:subnav/subnav.html.twig') }}#}
{% endblock %}

{% block body %}

    
    {{ render (controller("ListViewBundle:ListView:ListView", {'request': request, 'listview': list}))}}
    
    
    
    
<div class="panel-title pull-right">
      <div class="panel-heading">
         {#NUEVO DOCUMENTO#}
          <div class="btn-group">
            <a type="button" class="btn btn-primary" href="{{path('contabilidad_tipocuentas_new') }}">{%trans%}boton_new{%endtrans%}</a>
          </div>             
      </div>
    </div>
{% endblock %}
