{% extends '::base.html.twig' %}

{% block aside_breadcrumb %}
    {% set breadcrumb = knp_menu_get('AppBundle:BreadcrumbBuilder:expedienteShowMenu', [],{'expediente' : expediente} ) %}
    {{ knp_menu_render(breadcrumb, {'allow_safe_labels': true} ) }}
{% endblock %}
{% block aside_left %}
    {{ include('AppBundle:Expediente:submenu/sm_general.html.twig') }}
    <br>
    {{ include('AppBundle:Expediente:submenu/sm_cuentacorriente.html.twig') }}
{% endblock %}
{% block body_top %}
    {{ include('AppBundle:Expediente:cabecera.html.twig') }}
    {{ include('AppBundle:Expediente:subnav/subnav.html.twig') }}
{% endblock %}

{% block body %}
    Saldo de Cuenta Corriente: <b> $ {{saldocc|number_format(2, '.', ',') }}.-</b> <br>
   
{#    Fecha: {{fecha1|date("d/m/Y H:i") }} a {{fecha2|date("d/m/Y H:i") }}#}
    
    {{ render (controller("ListViewBundle:ListView:ListView", {'request': request, 'listview': list}))}}
    
    
    
    
<div class="panel-title pull-right">
      <div class="panel-heading">
         {#NUEVO DOCUMENTO#}
          <div class="btn-group">
            <a type="button" class="btn btn-primary" href="{{path('expediente_cc_new', {'expediente': expediente.id, 'tipo':'cobro'}) }}">{%trans%}boton_new{%endtrans%} Cobro</a>
            <a type="button" class="btn btn-primary" href="{{path('expediente_cc_new', {'expediente': expediente.id, 'tipo':'deuda'}) }}">Nueva Deuda</a>
          </div>             
      </div>
    </div>
{% endblock %}
