{% extends '::base.html.twig' %}

{% block aside_breadcrumb %}
    {% set breadcrumb = knp_menu_get('AppBundle:BreadcrumbBuilder:expedienteShowMenu', [],{'expediente' : expediente} ) %}
    {{ knp_menu_render(breadcrumb, {'allow_safe_labels': true} ) }}
{% endblock %}
{% block aside_left %}
    {{ include('AppBundle:Expediente:submenu/sm_general.html.twig') }}
    <br>
    {{ include('AppBundle:Expediente:submenu/interviniente/sm_list.html.twig') }}
{% endblock %}
{% block body_top %}
    {{ include('AppBundle:Expediente:cabecera.html.twig') }}
    {{ include('AppBundle:Expediente:subnav/subnav.html.twig') }}
{% endblock %}

{% block body %}
    {{ render (controller("ListViewBundle:ListView:ListView", {'request': request, 'listview': list}))}}

<div class="panel-title pull-right">
      <div class="panel-heading">
         {#NUEVO DOCUMENTO#}
          <div class="btn-group">
            <a type="button" class="btn btn-primary" href="{{path('expediente_vinculados_new', {'id': expediente.id}) }}">{%trans%}boton_new{%endtrans%}</a>
          </div>             
      </div>
    </div>
{% endblock %}
