<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% trans %}title{% endtrans %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css') }}"/>              <!-- Importación del framework css -->
            <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css') }}"/> <!-- importación del tema css (Esto es opcional) -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css"/>            
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            
            <style>
            .material-icons {
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 24px;  /* Preferred icon size */
                display: inline-block;
                line-height: 1;
                text-transform: none;
                letter-spacing: normal;
                word-wrap: normal;
                white-space: nowrap;
                direction: ltr;

                /* Support for all WebKit browsers. */
                -webkit-font-smoothing: antialiased;
                /* Support for Safari and Chrome. */
                text-rendering: optimizeLegibility;

                /* Support for Firefox. */
                -moz-osx-font-smoothing: grayscale;

                /* Support for IE. */
                font-feature-settings: 'liga';
              }
            .material-icons.md-18 { font-size: 18px; }
            .material-icons.md-24 { font-size: 24px; }
            .material-icons.md-36 { font-size: 36px; }
            .material-icons.md-48 { font-size: 48px; }
            .material-icons.md-64 { font-size: 64px; } 
            </style>            

            
        {% endblock %}
    </head>
    <body>        

        {#MENÚ        #}
        {{ include(':menu:menu.html.twig')}}


        {# ESPACIO PARA DEJAR FIJO EL TITULO       #}
        <div style="height: 70px;"> 
        </div>
 
        <aside class='container-fluid col-lg-12'>
            {% block aside_breadcrumb %}
{#                {{ include('::aside_breadcrumb.html.twig')}}#}
            {% endblock %}
        </aside>
  
        <aside class='col-md-2 col-xs-12'>
            {% block aside_left %}
{#                {{ include('::aside_left.html.twig')}}#}
            {% endblock %}
        </aside>
      
        <div class="container-fluid col-md-7 col-xs-12">
            <aside>
            {% block msg %}
                {{ include('::aside_alerts.html.twig')}}
            {% endblock %}
            </aside>
            <article>
                {% block body_top %}{% endblock %}
                {% block body %}{% endblock %}
                {% block body_bottom %}{% endblock %}                
            </article>
        </div>
        <aside class='col-md-3 col-xs-12'>
            {% block aside_right %}
{#                {{ include('::aside_right.html.twig')}}#}
            {% endblock %}
        </aside>
      
        {% block javascripts %}
            <script src="{{ asset('http://code.jquery.com/jquery.js') }}"></script>
            <script src="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js') }}"></script> <!-- Importación del framework en js -->
        

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/lang/es.js"></script> 
        
        {% endblock %}
    

    </body>
</html>
