{% extends '::base.html.twig' %}
{% block aside_breadcrumb %}
    {% set breadcrumb = knp_menu_get('AppBundle:BreadcrumbBuilder:expedienteShowMenu', [],{'expediente' : expediente} ) %}
    {{ knp_menu_render(breadcrumb, {'allow_safe_labels': true} ) }}
{% endblock %}
{% block aside_left %}
    {{ include('AppBundle:Expediente:submenu/sm_general.html.twig') }}
    <br>
    {{ include('AppBundle:Expediente:submenu/sm_documento.html.twig') }}
{% endblock %}
{% block body_top  %}
    <h3>{{list.Title}}</h3>
    {#{{ include('AppBundle:Expediente:cabecera.html.twig') }}
    {{ include('AppBundle:Expediente:subnav/subnav.html.twig') }}#}
{% endblock %}    
{% block body %}
    {% render (controller("ListViewBundle:ListView:ListView", {'request': request, 'listview': list, 'parameters':parameters}))%}
{% endblock %}

