{# button = 0 -> cancel   #}
{%if Button.type == 0 %} 
    <a href="{{ Button.Route }}">Button.label</a>
{%else%}
    {%if Button.route == "" %}
        <input class="btn btn-primary" name = "{{Button.name}}" type="submit" value="{{Button.label}}" />
    {%else%}
        <a type="button" name = "{{Button.name}}" class="btn btn-primary" href="{{Button.route}}">{{Button.label}}</a>


    {%endif%}
{%endif%}

