{#<div class="panel panel-default">
    <div class="panel-heading">
        {{ list.title }}
    </div>
    <div class="panel-body">#}
<div>
    <h1>PRUEBA</h1>
</div>
<table class="table table-hover">
            <thead>
            <tr>
                {% for column in list.columns %}
                   <th>
                    {% if column.allow_order == "1" %}
                        {% set order = 1 %}
                        {% if column.name == list.OrderCol %}
                            {% set order = list.getNextOrderStatus()%}
                            {% if list.orderStatus == "1" %} 
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            {% elseif list.orderStatus == "2" %}
                                <span class="glyphicon glyphicon-chevron-up"></span>
                            {% endif %}
                        {% endif %}
                        
                        {% if tipo is not empty %}
                            {#<a href='{{ 
                                    path(list.orderRoute, 
                                    {
                                        'order_col' : column.name,
                                        'order_status': order,
                                        'tipo': tipo
                                    }
                                ) 
                            }}'
                            >{{column.name}}</a>#}
                            {{ knp_pagination_sortable(data, column.name, column.name) }}
                        {% else %}
                            <a href='{{ 
                                        path(list.orderRoute, 
                                        {
                                            'order_col' : column.name,
                                            'order_status': order
                                        }
                                    ) 
                               }}'
                               >{{column.name}}</a>
                        {%endif%}
                           
                    {% else %}    
{#                        {{ column.name }}#}
{{ knp_pagination_sortable(data, column.name, 'u.'~ column.column|lower) }}
                    {% endif %}
                   </th>
                {% endfor %}
            </tr>
            </thead>
            {% for row in data %}
                {{ include(
                        'ListViewBundle:ListView:Item.html.twig',
                        {'row': row, 'columns':list.columns}
                    )
                }}
            {% endfor %}
        </table>
        
        <table>
            <tr>
            {# sorting of properties based on query components #}
                <th>{{ knp_pagination_sortable(data, 'Nombre', 'u.username') }}</th>
                <th>{{ knp_pagination_sortable(data, 'Email', 'u.email') }}</th>
            </tr>
        </table>
        <div>
            {{ knp_pagination_render(data) }}
        </div>
  {#  </div>#}
{#</div>#}