{% extends '::base.html.twig' %}
{% block aside_breadcrumb %}
    {#{% set breadcrumb = knp_menu_get('CommonBundle:BreadcrumbBuilder:expedienteShowMenu', [],{'expediente' : expediente} ) %}
    {{ knp_menu_render(breadcrumb, {'allow_safe_labels': true} ) }}#}
{% endblock %}

{% block aside_left %}
    {#{% render (controller("CommonBundle:Submenu:expediente", {'expediente': expediente, 'seccion': seccion, 'seccion2':'list'}))%}#}
{% endblock %}
{% block body_top %}
{#    {% render (controller("CommonBundle:Submenu:NAVExpediente", {'expediente': expediente, 'seccion': 'abogados', 'route':app.request.attributes.get('_route'),'route_params':app.request.attributes.get('_route_params')}))%}#}
{% endblock %}

{% block body %}    
    <form name="tipoproceso" id="tipoproceso" method="post" action="">
    <div class="form-group" >  
        <label class="control-label required" for="cboInterviniente">Abogado Principal:</label>

        <div class="row">
            <div class="col-md-10">
{#                {{form(form)}}#}
                COMBOBOX
                {#{{ include(
                    'CommonBundle:Controls:ComboBox.html.twig',
                    {'data': Abogados,'disabled': false,
                    'controlName': "cboAbogadoPrincipal",'labelField': "IntervinienteNombre", 'idField': "EntidadId",'rowSelected':abogadoPrincipal,'autocomplete':false}
                    )
                }} #}
            </div>
            <div class="col-md-2 text-left">
{#                <input class="btn btn-primary" id="definir" name = "definir" type="submit" value="{%trans%}boton_definir{%endtrans%}" />        #}
            </div>
        </div>    
    </div>    
    </form>
    {{ render (controller("ListViewBundle:ListView:ListView", {'request': request, 'listview': list}))}}
<div class="panel-title pull-right">
      <div class="panel-heading">
         {#NUEVO DOCUMENTO#}
          <div class="btn-group">
            {#<a type="button" class="btn btn-primary" href="{{path('expediente_abogados_new', {'id': expediente.id}) }}">{%trans%}boton_new{%endtrans%}</a>#}
          </div>             
      </div>
    </div>  
{% endblock %}