{% if app.user.username is defined %}
    <ul class="dropdown-menu">
        <li class="dropdown-header"> {{ app.user.username }} </li>
        <li><a href="{{path("fos_user_profile_show")}}"><span class="glyphicon glyphicon-user"></span> Mi cuenta</a></li>
        <li><a href="{{path("fos_user_change_password")}}"><span class="glyphicon glyphicon-lock"></span> Cambiar contraseña</a></li>
        <li role="presentation" class="divider"></li>
        <li><a href="{{path("fos_user_security_logout")}}"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a></li>
    </ul>
{% else %}
    <ul class="dropdown-menu">        
        <li><a href="{{path("fos_user_registration_register")}}"><span class="glyphicon glyphicon-edit"></span> Registrate</a></li>
        <li><a href="{{path("fos_user_security_login")}}"><span class="glyphicon glyphicon-log-in"></span> Iniciar sesión</a></li>
    </ul>
{% endif %}